{% style %}
       ul#tabs-nav {
          justify-content: center;
          display: flex;
      }
      li {
          margin: 20px;
      }
      a {
        color: #0d6efd;
  text-decoration: auto;
    }
{% endstyle %}
<div class="section-product-tab-v1 homepage-product-tab">
  <div class="container th-vertical-false controls-position-1">
    <div class="section-wrapper block-type-normal no-padding">
      <div class="section-header">
        <div class="section-heading">
          <h2 class="heading">{{ section.settings.heading }}</h2>
        </div>
        <div class="subheading">{{ section.settings.subheading }}</div>
      </div>
      <div class="section-body tabs">
        <div class="tab-heading-container">
          <ul id="tabs-nav" class="tab-heading tab-heading-3 align-left">
            {%- for block in section.blocks -%}
              <li class="btn btn-secondary  btn-lg">
                <a href="#all-{{ forloop.index }}" class=" text-light">{{ block.settings.tab_title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div id="tabs-content" class="tabs-content">
          <div class="tab-content-inner">
            {%- for block in section.blocks -%}
              {% assign collection = collections[block.settings.category] %}
              <div id="all-{{ forloop.index }}" class="tab-content">
                <slider-component>
                  <div class="">
                    <div class="slider-wrapper">
                      <div
                        class="slider-list{% unless enable_slider %} row{% endunless %}"
                        id="slider-{{section.id}}"
                      >
                        {%- for product in collection.products limit: limit -%}
                          {{ img }}
                          <div class="product">
                            <h3>{{ product.title }}</h3>
                            <a href="{{ product.url }}">
                              <img src="{{ product.featured_image | img_url:"400x" }}" alt="{{ product.title }}">
                            </a>
                            <p>{{ product.description }}</p>
                            <p>{{ product.price | money }}</p>
                          </div>
                        {%- endfor -%}
                      </div>
                    </div>
                  </div>
                  <div class="view-all">
                    
                  </div>
                </slider-component>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
>

<script>

 const firstTab = document.querySelector('#tabs-nav li:first-child');
firstTab.classList.add('active');

const tabContents = document.querySelectorAll('.tab-content');
tabContents.forEach(tab => tab.style.display = 'none');
document.querySelector('.tabs-content .tab-content:first-child').style.display = 'block';

const tabNavItems = document.querySelectorAll('#tabs-nav li');
tabNavItems.forEach(tabNavItem => {
  tabNavItem.addEventListener('click', function() {
    tabNavItems.forEach(tab => tab.classList.remove('active'));
    this.classList.add('active');
    tabContents.forEach(tab => tab.style.display = 'none');

    const activeTab = this.querySelector('a').getAttribute('href');
    document.querySelector(activeTab).style.display = 'block';
    return false;
  });
});

</script>


{% schema %}
{
  "name": "Collection Tabs",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub heading"
    }
  ],
   "blocks": [
  {
    "type": "tab",
    "name": "collection-tabs",
    "settings": [
      {
        "type": "text",
        "id": "tab_title",
        "label": "Tab title"
      },
      {
        "type": "collection",
        "id": "category",
        "label": "Collection"
      }
    ]
  }
   ],
    "presets": [
  {
    "name": "Collection Tabs"
  }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
