{% comment %}  {% paginate collections by 4 %}

        <h1>Collections</h1>

        {% for collection in collections %}
            <div>
                <a href="{{ collection.url }}">
                    <h2>{{ collection.title }}</h2>
                    <p>Products: {{ collection.all_products_count }}</p>
                </a>
            </div>
        {% endfor %}

  {{ paginate | default_pagination }}
{% endpaginate %} {% endcomment %}

<h1>{{ page_title }}</h1>

<ul>
  {%- for collection in collections -%}
    <li>
      {%- if collection.image -%}
        {%- assign collection_image = collection.image -%}
      {%- elsif collection.products.first and collection.products.first.images != empty -%}
        {%- assign collection_image = collection.products.first.featured_image -%}
      {%- else -%}
        {%- assign collection_image = blank -%}
      {%- endif -%}

      <a href="{{ collection.url }}">
        <img src="{{ collection_image | img_url: '480x' }}" alt="">
        {{ collection.title }}
      </a>
    </li>
  {%- endfor -%}
</ul>